{% extends 'base.html' %}

{% block title %} Lista de Usuarios {% endblock title %}

{% block content %}
<br><br>
<br><br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success ms-5" href="{% url 'crearusuario' %}" role="button">Agregar nuevo usuario</a>
        <a name="" id="" class="btn btn-info ms-5" href="{% url 'administrador' %}" role="button">Volver</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for usuario in usuarios  %}                       
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.first_name}}</td>
                        <td>{{usuario.last_name}}</td>                        
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.phone}}</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'editarusuario' usuario.id %}" role="button">Editar</a> | <a name="" id="" class="btn btn-danger" href="{% url 'eliminarusuario' usuario.id %}" role="button">Borrar</a></td>
                    </tr>  
                    {% endfor %}                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">        
    </div>
</div>
    
{% endblock content %}
    
    