{% extends "base.html" %} 
{% block title %}Ministerios{% endblock %}

{% block content %}
<br><br>
<br><br>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Ministerios MI-SION</h1>
                <p class="lead text-muted">Guiados por el Espíritu Santo a extender el reino de Dios, de acuerdo con el
                    mandato de nuestro Señor Jesucristo, dada en Mateo 28:19-20 de hacer discípulos integrales que den
                    fruto permanente.
                    <br />
                </p>
                <p class="lead text-muted">
                    AQUÍ NACEN LOS QUE EN SU CORAZÓN LLEVAN LA GLORIA DE DIOS A LAS NACIONES.</p>
                <!--<p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>-->
            </div>
        </div>
    </section>

    <div class="album py-3 bg-light" style="align-items: center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img class="card-img-top" src="https://i.ibb.co/N3Sw4Bs/misionkids.webp" alt="misionkids">
                        <div class="card-body">
                            <h5 class="card-title">Misión Kids</h5>
                            <p class="card-text">Porque nuestra gran comisión es evangelizar equipar y empoderar.</p>
                            <p class="card-text">Mateo 7:12
                                "Así que todas las cosas que queráis que los hombres hagan con vosotros así también
                                vosotros haced con ellos".</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img src="https://i.ibb.co/ChfPJcS/exploradores.webp" alt="exploradores" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Exploradores del Rey,<br />Destacamento <br />Aguilas Misioneras</h5>
                            <p class="card-text">Nuestra gran tarea es llenar el corazón de cada niño de las grandezas
                                de Dios y que lleguen a ser aquellos que no se derrotan ante la dificultad. Tu pues
                                sufre penalidades como buen soldado de Jesucristo.</p>
                            <p>
                                2 Timoteo 2:3, 4.
                                "Ningúno que milita se enreda en los negocios de la vida a fin de agradar a aquel que lo
                                tomó por soldado".</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img src="https://i.ibb.co/S57q65w/jovenes.webp" alt="jovenes" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Jovenes</h5>
                            <p class="card-text">Nuestra Pa-Sión es alcanzar la juventud para Cristo, para que sean revolucionados con la gloria de Dios, nuestra mi-Sión es equipar a jóvenes con la palabra de Dios y la oración para que ellos sean transformadores de su sociedad y    pescadores de otros jóvenes.</p>
                            <p>Mateo 1:12 "El reino de los cielos sufre violencia, y los violentos lo conquistan por la fuerza"</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img class="card-img-top" src="https://i.ibb.co/KKTLLY0/danzas.webp" alt="danzas">
                        <div class="card-body">
                            <h5 class="card-title">Danzas</h5>
                            <p class="card-text">Ministerio encargado de generar el avivamiento en la iglesia con la
                                guía del Espíritu Santo, de motivar a la adoración y exaltación del nombre de nuestro
                                Señor Jesucristo. Somos servidoras de Dios, amantes de su presencia, impactando las
                                nuevas generaciones a través de la danza de guerra espiritual y evangelistica.</p>
                            <p>Isaias 30:32
                                "Y cada golpe de la vara justiciera que asiente Jehova sobre El, sera con panderos y con
                                arpas; y en la batalla tumultuosa peleara contra ellos"</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img src="https://i.ibb.co/L1FnVbK/alabanza.webp" alt="alabanza" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Alabanza</h5>
                            <p class="card-text">Ministerio encargado de la adoración, guerra y ministración en el cual
                                solo los de corazón dispuesto y entregados con pasión logran ser adoradores en espíritu
                                y verdad.
                                Únete a este ministerio si crees ser radical......</p>
                            <p>Isaias 25:1 "Jehová, tú eres mi Dios; te exaltaré, alabaré tu nombre, porque has hecho maravillas; tus consejos antiguos son verdad y firmeza"</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img src="https://i.ibb.co/59tbD2q/evangelizacion.webp" class="card-img-top" alt="diaconos">
                        <div class="card-body">
                            <h5 class="card-title">Diaconos</h5>
                            <p class="card-text">Privilegio de aquel hombre y mujer dedicado a servir a los demás, con
                                criterios básicos como dar buen testimonio, llenos del espíritu santo y sabiduría.
                                Servir con amor y humildad. </p>
                            <p>Mateo 20: 28 "Como el hijo del hombre no vino para ser servido,sino para servir y para
                                dar su vida en rescate por muchos".</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img class="card-img-top" src="https://i.ibb.co/rFCM660/consolidacion.webp" alt="consolidasion">
                        <div class="card-body">
                            <h5 class="card-title">Consolida-SIÓN</h5>
                            <p class="card-text">Consolidar es afirmar la decisión de los nuevos creyentes de recibir a
                                Jesús y velar por sus necesidades
                                El propósito de la consolidación es que aquellos que se convierten permanezcan en el
                                señor</p>
                            <p>Mateo 18:14
                                "Su deseo es que todos los ganados permanezcan y ninguno se pierda "</p>
                            <a href="#" class="btn btn-primary ">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 w-auto py-2" style="height: 760px;">
                    <div class="card h-100" style="width: 20rem; margin-left: 3rem;">
                        <img src="https://i.ibb.co/59tbD2q/evangelizacion.webp" alt="evangelización" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Evangeliza-Sión</h5>
                            <p class="card-text">Hombres y mujeres que llevan el mensaje de salvación a toda persona, así como no lo ordenó nuestro amado señor Jesucristo. Es una labor de gratitud a Dios y amor al prójimo.</p>
                            <p>Hechos 13 47 "Te he puesto por luz para las naciones, a fin de que lleves mi salvación hasta los confines de la tierra"</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
</main>

{% endblock %}